In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler
import pickle

In [5]:
## load data
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# preprocess data drop irelevant columns
data = data.drop(columns=["RowNumber","CustomerId","Surname"])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
## Encode categorical variables

label_encoder_gender = LabelEncoder()
data["Gender"] = label_encoder_gender.fit_transform(data["Gender"])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
## one hot encoding on Geography column
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder()
geo_encoder = one_hot_encoder.fit_transform(data[["Geography"]])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [9]:

feature_names = one_hot_encoder.get_feature_names_out(['Geography'])
feature_names

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=feature_names)
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
##combine all hot encoded features with the original matrix

data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [31]:
## save the encoders and scalar in pickle 
with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)

with open('geo_encoder.pkl', 'wb') as f:
    pickle.dump(one_hot_encoder, f)

In [14]:
# Divide the data set into independent and dependent feature

data.head()
X = data.drop('Exited',axis=1)
y = data['Exited']

# Split the data into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## scale the feature 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [16]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [17]:
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

In [18]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

ANN Implementation

In [2]:
pip install tensorflow==2.15.0

Requirement already satisfied: tensorflow==2.15.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (2.15.0)
Requirement already satisfied: tensorflow-macos==2.15.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow==2.15.0) (2.15.0)
Requirement already satisfied: absl-py>=1.0.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.14.0)
Requirement already satisfied: libclang>=13.0.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.2.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (0.2.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (1.26.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.4.0)
Requirement already satisfied: packaging in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (4.25.8)
Requirement already satisfied: setuptools in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (78.1.1)
Requirement already satisfied: six>=1.12.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (4.15.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (1.14.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (0.37.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (1.75.0)
Requirement already satisfied: tensorboard<2.16,>=2.15 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (2.15.2)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorflow-macos==2.15.0->tensorflow==2.15.0) (2.15.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (2.40.3)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (1.2.2)
Requirement already satisfied: markdown>=2.6.8 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.9)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (2.32.5)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.1.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (2.0.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (2025.8.3)
Requirement already satisfied: pyasn1>=0.1.3 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from rsa<5,>=3.1.4->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (0.6.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow-macos==2.15.0->tensorflow==2.15.0) (0.45.1)
Requirement already satisfied: importlib-metadata>=4.4 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from markdown>=2.6.8->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (8.7.0)
Requirement already satisfied: zipp>=3.20 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.3.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow-macos==2.15.0->tensorflow==2.15.0) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [20]:
X_train.shape[1]

12

In [22]:
### Building end to end ANN model

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),## First hidden layer connected to input layer
    Dense(32, activation='relu'), ## Second hidden layer
    Dense(1, activation='sigmoid') ## Output layer
])

In [23]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
## compile the model

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [25]:
## setup tensorboard 

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [ ]:
## Early Stopping
early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=3,restore_best_weights=True)

In [27]:
### training model
history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data=(X_test, y_test),callbacks=[tensorflow_callback,early_stopping])

Epoch 1/100
250/250 [==============================] - 0s 747us/step - loss: 0.4537 - accuracy: 0.8112 - val_loss: 0.4016 - val_accuracy: 0.8265
Epoch 2/100
250/250 [==============================] - 0s 459us/step - loss: 0.3951 - accuracy: 0.8356 - val_loss: 0.3597 - val_accuracy: 0.8525
Epoch 3/100
250/250 [==============================] - 0s 443us/step - loss: 0.3584 - accuracy: 0.8543 - val_loss: 0.3496 - val_accuracy: 0.8580
Epoch 4/100
250/250 [==============================] - 0s 445us/step - loss: 0.3448 - accuracy: 0.8594 - val_loss: 0.3425 - val_accuracy: 0.8560
Epoch 5/100
250/250 [==============================] - 0s 445us/step - loss: 0.3405 - accuracy: 0.8575 - val_loss: 0.3417 - val_accuracy: 0.8575
Epoch 6/100
250/250 [==============================] - 0s 442us/step - loss: 0.3355 - accuracy: 0.8600 - val_loss: 0.3415 - val_accuracy: 0.8585
Epoch 7/100
250/250 [==============================] - 0s 445us/step - loss: 0.3332 - accuracy: 0.8616 - val_loss: 0.3410 - val_accuracy: 0.8620
Epoch 8/100
250/250 [==============================] - 0s 443us/step - loss: 0.3306 - accuracy: 0.8634 - val_loss: 0.3396 - val_accuracy: 0.8570
Epoch 9/100
250/250 [==============================] - 0s 466us/step - loss: 0.3278 - accuracy: 0.8627 - val_loss: 0.3384 - val_accuracy: 0.8565
Epoch 10/100
250/250 [==============================] - 0s 460us/step - loss: 0.3261 - accuracy: 0.8637 - val_loss: 0.3415 - val_accuracy: 0.8575
Epoch 11/100
250/250 [==============================] - 0s 453us/step - loss: 0.3244 - accuracy: 0.8644 - val_loss: 0.3383 - val_accuracy: 0.8570
Epoch 12/100
250/250 [==============================] - 0s 447us/step - loss: 0.3236 - accuracy: 0.8654 - val_loss: 0.3375 - val_accuracy: 0.8630
Epoch 13/100
250/250 [==============================] - 0s 441us/step - loss: 0.3211 - accuracy: 0.8664 - val_loss: 0.3376 - val_accuracy: 0.8575
Epoch 14/100
250/250 [==============================] - 0s 440us/step - loss: 0.3200 - accuracy: 0.8648 - val_loss: 0.3397 - val_accuracy: 0.8580
Epoch 15/100
250/250 [==============================] - 0s 452us/step - loss: 0.3175 - accuracy: 0.8660 - val_loss: 0.3434 - val_accuracy: 0.8590

In [28]:
model.save('model.h5')

/Users/adityagole/Desktop/Ai-tutorials/streamlit/venv/lib/python3.9/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [29]:
## Load tensorboard Extension
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 26603), started 18:29:26 ago. (Use '!kill 26603' to kill it.)